*{
    margin: 0;
    padding: 0;
}

*{box-sizing: border-box;}
html{-webkit-text-size-adjust:100%}
body{margin:0}
body{overflow: auto; overflow-y: scroll; letter-spacing: 0; line-height: 1.5; font-size: 15px; font-weight: 400; font-family: NanumBarunGothic,Dotum,'µ¸¿ò',sans-serif;}
div{display: block;}
article,aside,figcaption,figure,footer,header,main,nav,section{display:block}
h1{margin:.67em 0;font-size:2em}
hr{overflow:visible;height:0;box-sizing:content-box}
pre{font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:700}
code,kbd,samp{font-size:1em}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:1em;line-height:1.15}
button,input{overflow:visible}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
fieldset{padding:0}
legend{display:table;max-width:100%;padding:0;box-sizing:border-box;white-space:normal;color:inherit}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}
em{font-style: normal;}
i{font-style: italic;}

.m.tooltip{position: relative;}
.m105{margin-left: 5px!important;}

.movie-detail-page{position:relative;z-index:1;height:520px;margin:0 0 40px 0;color:#ccc;background-color:#151515}
.movie-detail-page p{margin:0;padding:0}
.movie-detail-page .bg-img{position:absolute;left:50%;top:0;z-index:1;width:1100px;margin:0 0 0 -550px;height:100%;background-position:center 0;background-repeat:no-repeat;background-size:100% auto;opacity:.8}
.movie-detail-page .bg-img:after{content:'';display:block;position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;background-color:rgba(15,15,15,.5)}
.movie-detail-page .bg-pattern{position:absolute;left:0;top:0;z-index:3;width:100%;height:100%;background:url(https://img.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png) repeat-x 0 0}
.movie-detail-page .bg-mask{position:absolute;left:0;top:0;z-index:4;width:100%;height:100%;background:-moz-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);background:-webkit-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);background:-o-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);background:-ms-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);background:linear-gradient(to right,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%)}
.movie-detail-page .movie-detail-cont{position:relative;z-index:4;width:1100px;height:100%;margin:0 auto;padding:55px 0 0 0}
.movie-detail-page .movie-detail-cont .d-day{overflow:hidden;display:inline-block;height:22px;padding:0 10px;font-size:.8667em;line-height:22px;color:#fff;border-radius:3px;vertical-align:middle}
.movie-detail-page .movie-detail-cont .d-day.default{background-color:#432e75}
.movie-detail-page .movie-detail-cont .d-day.theater{background-color:#432e75}
.movie-detail-page .movie-detail-cont .d-day.my{background-color:#432e75}
.movie-detail-page .movie-detail-cont .contents-type{display:inline-block;margin:0 0 0 6px;line-height:22px;vertical-align:middle}
.movie-detail-page .movie-detail-cont .title{position:static;left:inherit;top:inherit;width:800px;padding:15px 0 0 0;color:#fff;font-size:3.0666em;font-weight:400;line-height:1.2;text-shadow:2px 2px 10px rgba(0,0,0,.7)}
.movie-detail-page .movie-detail-cont .title-eng{width:800px;padding:10px 0 0 0;font-size:1.3333em;font-family:Roboto;color:#fff;line-height:1.1;overflow:hidden;max-width:100%;white-space:nowrap;text-overflow:ellipsis}
.movie-detail-page .movie-detail-cont .btn-util{padding:15px 0 0 0}
.movie-detail-page .movie-detail-cont .btn-util .btn{display:inline-block;min-width:100px;height:36px;line-height:34px;margin:0 6px 0 0;padding:0 10px;font-size:.9333em;color:#fff;text-decoration:none;text-align:center;border:1px solid #706f72;border-radius:4px;background-color:transparent}
 .movie-detail-page .movie-detail-cont .btn-util .btn .iconset{margin-right:4px}
 .movie-detail-page .movie-detail-cont .btn-util .btn:hover{color:#222;background-color:#fff}
 .movie-detail-page .movie-detail-cont .btn-util .btn.on .ico-heart-line,.movie-detail-page .movie-detail-cont .btn-util .btn:hover .ico-heart-line{background-image:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-heart-on.png)}
 .movie-detail-page .movie-detail-cont .btn-util .btn:hover .ico-sns-line{background-image:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sns-on.png)}
 .movie-detail-page .movie-detail-cont .btn-util .btn:hover .ico-bell-line{background-image:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-bell-green.png)}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share{position:relative;display:inline-block}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap{display:none}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap{display:none;position:absolute;left:50%;top:54px;z-index:55;width:360px;height:110px;margin:0 0 0 -180px;padding:20px 0 0 0;border:1px solid #d8d9db;border-radius:5px;background-color:#fff}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap.on{display:block}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap .btn{display:inline-block;min-width:50px;margin:0 4px;padding:48px 0 0 0;border:0;font-size:.9333em;color:#444;line-height:1.1;background-color:transparent;background-position:center top;background-repeat:no-repeat}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap:before{content:'';position:absolute;left:169px;top:-12px;display:block;width:22px;height:12px;background:url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-tooltip-arr-top-script.png) no-repeat 0 0}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap .cont-area{position:relative}
 .movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap .cont-area .btn-close-common-sns{overflow:hidden;display:block;position:absolute;right:10px;top:-12px;width:12px;height:12px;margin:0;padding:0;border:0;text-indent:-9999px;background:url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-close-common-sns.png) no-repeat 0 0}
 .movie-detail-page .movie-detail-cont .info{position:absolute;left:0;bottom:45px;padding:0}
 .movie-detail-page .movie-detail-cont .info:after,.movie-detail-page .movie-detail-cont .info:before{content:'';display:table}
 .movie-detail-page .movie-detail-cont .info:after{clear:both}
 .movie-detail-page .movie-detail-cont .info .tit{display:block;padding:0 0 15px 0;line-height:1.1;font-size:.9333em}
 .movie-detail-page .movie-detail-cont .info .score{float:left;padding:0}
 .movie-detail-page .movie-detail-cont .info .score .number{padding:0 0 0 30px;background:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-megabox.png) no-repeat 0 center;font-family:Roboto,Dotum,'µ¸¿ò',sans-serif;font-weight:400}
 .movie-detail-page .movie-detail-cont .info .score .number>p{display:inline-block;vertical-align:middle;line-height:1.1}
 .movie-detail-page .movie-detail-cont .info .score .number .before{color:#59bec9}
 .movie-detail-page .movie-detail-cont .info .score .number .after{padding:0 0 0 30px;color:#c698f4;background-position:10px center;background-repeat:no-repeat}
 .movie-detail-page .movie-detail-cont .info .score .number.lt .before{font-size:1.6em}
 .movie-detail-page .movie-detail-cont .info .score .number.lt .after{font-size:2.1333em;background-image:url(https://img.megabox.co.kr/static/pc/images/movie/bg-arr-score-lt.png)}
 .movie-detail-page .movie-detail-cont .info .score .number.gt .before{font-size:2.1333em}
 .movie-detail-page .movie-detail-cont .info .score .number.gt .after{font-size:1.6em;background-image:url(https://img.megabox.co.kr/static/pc/images/movie/bg-arr-score-gt.png)}
 .movie-detail-page .movie-detail-cont .info .score .number.equal{line-height:35px}
 .movie-detail-page .movie-detail-cont .info .score .number.equal .before{font-size:1.6em;font-family:Roboto,Dotum,'µ¸¿ò',sans-serif;font-weight:400}
 .movie-detail-page .movie-detail-cont .info .score .number.equal .after{padding-left:26px;font-size:1.6em;background-image:url(https://img.megabox.co.kr/static/pc/images/movie/bg-arr-score-equal.png)}
 .movie-detail-page .movie-detail-cont .info .rate{float:left;padding:0 0 0 35px}
 .movie-detail-page .movie-detail-cont .info .rate .cont{display:inline-block;padding:0 0 0 30px;vertical-align:middle;line-height:1.1;background:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-ticket-gray.png) no-repeat 0 center}
 .movie-detail-page .movie-detail-cont .info .rate .cont em{margin:0 4px 0 0;color:#fff;font-size:2.1333em;font-family:Roboto,Dotum,'µ¸¿ò',sans-serif;font-weight:400}
 .movie-detail-page .movie-detail-cont .info .audience{float:left;padding:0 0 0 35px}
 .movie-detail-page .movie-detail-cont .info .audience .tit{position:relative}
 .movie-detail-page .movie-detail-cont .info .audience .tooltip-cont{position:absolute;left:-77px;top:-115px}
 .movie-detail-page .movie-detail-cont .info .audience .cont{display:inline-block;padding:0 0 0 30px;vertical-align:middle;line-height:1.1;background:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-person.png) no-repeat 0 center}
 .movie-detail-page .movie-detail-cont .info .audience .cont em{margin:0 4px 0 0;color:#fff;font-size:2.1333em;font-family:Roboto,Dotum,'µ¸¿ò',sans-serif;font-weight:400}
 .movie-detail-page .movie-detail-cont .poster{overflow:hidden;display:block;position:absolute;right:0;top:45px;z-index:2;width:260px;height:374px}
 .movie-detail-page .movie-detail-cont .poster .wrap{position:relative;width:100%;height:100%;font-size:0;line-height:0}
 .movie-detail-page .movie-detail-cont .poster .wrap .movie-grade{overflow:hidden;position:absolute;left:10px;top:10px;z-index:4}
 .movie-detail-page .movie-detail-cont .poster .wrap img{display:block;width:100%;height:100%;border-radius:10px}
 .movie-detail-page .movie-detail-cont .poster .wrap .btn-poster-down{overflow:hidden;display:block;position:absolute;right:10px;top:10px;width:36px;height:36px;font-size:0;line-height:0;background:url(https://img.megabox.co.kr/static/pc/images/movie/btn-poster-down.png) no-repeat 0 0;opacity:.45}
 .movie-detail-page .movie-detail-cont .screen-type{overflow:hidden;display:block;position:absolute;right:0;bottom:45px;width:260px}
 .movie-detail-page .movie-detail-cont .screen-type .btn{display:block;float:left;height:36px;line-height:34px;font-size:.9333em;margin:0;padding:0;color:#fff;text-align:center;border:0;border-radius:5px;background-color:transparent;text-decoration:none}
 .movie-detail-page .movie-detail-cont .screen-type .btn.reserve{background-color:#329eb1}
 .movie-detail-page .movie-detail-cont .screen-type .btn.mx{background-color:#00586a}
 .movie-detail-page .movie-detail-cont .screen-type .btn.soon{background-color:#666}
 .movie-detail-page .movie-detail-cont .screen-type .btn:first-child{margin-left:0}
 .movie-detail-page .movie-detail-cont .screen-type.col-1 .btn{width:100%;margin:0}
 .movie-detail-page .movie-detail-cont .screen-type.col-2 .btn{width:250px;border-radius:0 5px 5px 0}
 .movie-detail-page .movie-detail-cont .screen-type.col-2 .btn:first-child{border-radius:5px 0 0 5px}
 .movie-detail-page .movie-detail-cont .screen-type.col-3 .btn{width:93px}
 .movie-detail-page .movie-detail-cont .screen-type.col-3 .btn:first-child{width:94px}
 .grade-table .movie-grade{width:100%;text-indent:30px;background-position:left;font-weight:400}
 .movie-detail-page.fixed{position:fixed;left:0;top:42px;z-index:100;width:100%;height:80px;margin:0}
 .movie-detail-page.fixed .bg-img{background-attachment:scroll;background-size:100% auto}
 .movie-detail-page.fixed .movie-detail-cont{position:relative;z-index:104;width:1100px;height:80px;margin:0 auto;padding-top:0}
 .movie-detail-page.fixed .movie-detail-cont .contents-type{display:none}
 .movie-detail-page.fixed .movie-detail-cont .poster{display:none}
 .movie-detail-page.fixed .movie-detail-cont .d-day{display:none}
 .movie-detail-page.fixed .movie-detail-cont .title{padding-top:33px;font-size:1.6em}
 .movie-detail-page.fixed .movie-detail-cont .title-eng{display:none}
 .movie-detail-page.fixed .movie-detail-cont .btn-util{position:relative;padding:0}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .btn{display:block;position:absolute;top:-37px;min-width:100px;margin:0;padding:0 10px;font-size:.9333em}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .btn.btn-like{right:186px}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .btn.btn-sns{right:140px;width:36px;min-width:0;padding:8px 0 0 0;font-size:0;line-height:0}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .btn.btn-sns .iconset{display:inline-block;margin:0}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .btn .iconset{margin:0}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .sns-share{display:block;position:absolute;right:140px;top:-37px;min-width:0;margin:0;padding:0;font-size:.9333em}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .sns-share .btn-common-share{position:static;min-width:0;width:36px;padding:0;font-size:0;line-height:0;line-height:32px}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .sns-share .btn-common-share .iconset{display:inline-block;margin:0}
 .movie-detail-page.fixed .movie-detail-cont .btn-util .sns-share .btn{position:static}
 .movie-detail-page.fixed .movie-detail-cont .info{display:none}
 .movie-detail-page.fixed .movie-detail-cont .screen-type{top:22px;bottom:inherit;width:130px}
 .movie-detail-page.fixed .movie-detail-cont .screen-type .reserve{border-radius:5px!important}
 .movie-detail-page.fixed .movie-detail-cont .screen-type .mx{display:none}

 .ui-icon-info{background-position:-16px -144px}
 .mem-point-info{text-align:left;box-sizing:border-box}
 .ico-tooltip-gray{overflow: hidden; width: 16px; height: 16px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-tooltip-gray.png);}
 .iconset{overflow: hidden; display: inline-block; margin: -1px 0 0 0; padding: 0; font-size: 0; line-height: 0; vertical-align: middle; background-repeat: no-repeat;}
 .m.m-detail-tooltip{display: none; position: absolute; width: 320px; left: -105px; top: -90px; margin: 0; padding: 15px 20px; border: 1px solid #d8d9db; text-align: center; background-color: #fff; z-index: 55;}
.m-detail-tooltip .bg-arr.bottom{left: 100px; bottom: -11px; width: 22px; height: 11px;}
.m-detail-tooltip .bg-arr{display: block; overflow: hidden; position: absolute; background-position: 0 0; background-repeat: no-repeat;}
.reset a-c{overflow: hidden;}

.tab-wrap{
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 40px;
}

.tab-list{
    margin-top: 44px;
}

div.li{
   
    line-height: 50px;
    text-align: center;
    margin-left: -5px;
    display: inline-block;
    height: 40px;
    width: 365px;
    border: 1px solid #C1C1C1;
    border-bottom: 1px solid #6443B3;
    font-size: 20px;
}
a:link {text-decoration: none; color: #3C3C3C;}
a:visited {text-decoration: none; color: #3C3C3C;}
a:active {text-decoration: none; color: #3C3C3C;}

.wrap-tab-list-on{
    z-index: 9999;
    top: 138px;
    width: 100%;
    position: fixed;
    display: none;
    height: 52px;
    padding: 0 280px ;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 6px #00000029;
}
.wrap-tab-list-on>ul>li{
    height: 52px;
    padding-bottom: 5px;
    box-sizing: border-box;
    line-height: 55px;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
.wrap-hidden {
    z-index :99999;
    width: 100%;
    position: fixed;
    top: 0px;
    display: none;
}

#nav {
    
    height: 46px;
    background-color: #3C3C3C;
    font-size: 18px;
    color: white;
}
#nav>p {
    position: relative;
    top: 13px;
    margin: 0 auto;
    width: 1100px;
    height: 21px;
    text-align: left;
    font: Regular 18px/21px Apple SD Gothic Neo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#movie-detail {
    height: 92px;
    background: #0A0A0A 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#movie-detail>p {
    box-sizing: border-box;
    top: 29px;
    margin: 0 auto;
    width: 1100px;
    position: relative;
    font: Bold 24px/29px Apple SD Gothic Neo;
    letter-spacing: 0;
    color: #FFFFFF;   
}
.movie-wrapper{ width: 100%; background-color: black;}
section.movie {
    margin: 0 auto;
    width: 1100px;
    height: 520px;
    position: relative;
    border: 1px black solid;
}
#title {
    color: white;
    font-size: 48px;
    float: left;
    margin-top: 50px;
}
.movie-util-wrapper{ float: right;}
#poster {  
    
    margin-top: 50px;
    width: 245px;
    height: 352px;
    background-color: rgb(39, 39, 39);
    box-sizing: border-box;
}
.regist-btn{
    border: none;
    margin-top: 20px;
    width: 245px;
    height: 44px;
    border-radius: 5px;
    color: white;
    background-color: #329EB2;
}
.movie-btn>.likebtn1 {
    font-size: 20px;
    margin-top: 20px;
    left: 0;
    width: 150px;
    height: 39px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
    margin-right: 7px;
    color: white;
    background-color: black;
}
.movie-btn>.likebtn1.on{
    width: 150px;
    height: 39px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
    margin-right: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
} 
.likebtn1.on>img{
	background-image: url("image/heart_1.png");
	background-size: cover;  
	} 
.like{
    background-image: url("image/heart_1.png");
    background-repeat: no-repeat;
    background-size: cover;
} 
/*section-content*/

.content{
    width: 1100px;
    margin: 0 auto;
}
/*summart*/

.summary {
    /* position: relative; */
    width: 1200px;
   color: #4D4D4D;
   box-sizing: border-box;

    margin: 0 auto;
    top: 80px;
    font-size: 18px;
    margin-bottom: 70px;
}
.more-btn {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1100px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
   border-bottom: 1px solid #AAAAAA;
    background-color: rgba(255, 255, 255);
}
.etc{
    display: none;
}
.show-more{
    display: block;
}
/*review*/
.score-box{
margin-top: 30px;
width: 100%;
height: 110px;
border: 1px solid #C1C1C1;
border-radius: 8px;
}
.expectbox-wrap{
    border-right: 1px solid #C1C1C1;;
    float: left;
    border-radius: 8px 0 0 8px;
    width: 114px;
    height: 100%;
    background-color: #DCFCFD;
}
.reviewbox-wrap{
    border-left: 1px solid #C1C1C1;;
    float: right;
    border-radius: 0 8px 8px 0;
    width: 114px;
    height: 100%;
    background-color:#F1ECFC;
}
.review-util{ 
    margin: 35px 0 29px 0;
}
.review-util>li{
    display: inline-block;
    font-size: 18px;
    list-style: none;
    display: inline-block;
}
.review-util>li>a{text-decoration: none;}
.write-review {
    list-style: none;
    width: 1100px;
    height: 84px;
    margin-bottom: 30px;
}
.user-wrapper{
    margin: 10px 25px;
    width: 50px;
    float: left;
}
.user {
    text-align: center;
    color: #4D4D4D;
    font-size: 18px;
    display: block;
    width: 50px;
    height: 50px;
    background: #6443B3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 100%;
}
.user>p {

    font-size: 15px;
}
.storyBox {
    float: right;
    width: calc(100% - 105px);
    height: 84px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    opacity: 1;
}
.wrap-WriteReview {
    line-height: 90px;
    padding: 0 20px 0 30px;
    color: #4D4D4D;

}
.writeBtn {
    float: right;
     text-decoration: none;
     color: #4D4D4D;
 }
  /*user-review*/
 .ContentTag {

    list-style: none;
    height: 96px;
    margin-bottom: 30px;
}
.ContentTag>.storyArea>.user-wrapper>.user {
    
    z-index :99999;
    float: left;
    text-align: center;
    color: #4D4D4D;
    font-size: 18px;
    display: block;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 100%;
}
.ContentTag>.storyArea>.storyBox {
    float: right;
    width: calc(100% - 105px);
    height: 84px;
    background-color: #F8F8FA;;
    border-radius: 8px;
    opacity: 1;
}
.wrap-Review {
    left: 39px;
    color: #4D4D4D;
    display: inline-block;
}
div.scoreBox {
    text-align: center;
    top: 24px;
    left: 100px;
    position: absolute;
    height: 50px;
    width: 100px;
    border-right: 1px solid #4D4D4D;
}

.review {
    /* left: 357px; */
    top: 16px;
    position: relative;
}

.storyBox>.tit{
    line-height: 90px;
    width: 105px;
    height: 84px;
    color: #6443B3;
    float:left;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    vertical-align: bottom;
    }
.storyBox>.story-point{
    width: 105px;
    height: 84px;
    float:left;
    line-height: 90px;
    color: #6443B3;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-size: 2.4em;
}

div.reviewBox {
    height: 84px;
    width: 703px;
    float:left;
    
    box-sizing: border-box;
    line-height: 90px;
    padding:  0px 30px;
  
}

div.story-like {
    
    height: 84px;
    width: 40px;
    float: left;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 20px 10px;
}

div.story-util{
    height: 84px;
    width: 40px;
    float: right;
    box-sizing: border-box;
    padding: 30px 20px;
}


.LikeBtn {
    height: 20px;
    border: none;
    outline: none;
    background-color: #F8F8FA;
    
}

div.circle {
    width: 3px;
    height: 3px;
    background-color: #4D4D4D;
    border-radius: 100%;
    margin-bottom: 3px;
}

.wrote-date{
    float: right;
    margin-top: 10px;
}

.page-tab{
    padding-left: 280px;
    margin-top: 62px;
    margin-bottom: 110px;
}

.page-tab >ul >li{
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #838383;
    border-radius: 5px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    margin-right: 4px;
}