<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<display-name>Megabox</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
	  	<servlet-name>ReviewDAO</servlet-name>
	  	<servlet-class>megaboxClass.ReviewDAO</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ReviewDAO</servlet-name>
	  	<url-pattern>/ReviewDAO</url-pattern>
  	</servlet-mapping>	
  	<servlet>
	  	<servlet-name>ReviewDeleteDAO</servlet-name>
	  	<servlet-class>megaboxClass.ReviewDeleteDAO</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ReviewDeleteDAO</servlet-name>
	  	<url-pattern>/ReviewDeleteDAO</url-pattern>
  	</servlet-mapping>	
  	<servlet>
	  	<servlet-name>ReviewEditDAO</servlet-name>
	  	<servlet-class>megaboxClass.ReviewEditDAO</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ReviewEditDAO</servlet-name>
	  	<url-pattern>/ReviewEditDAO</url-pattern>
  	</servlet-mapping>	
  	<error-page>
  		<error-code>404</error-code>
  		<location>/404error.jsp</location>
  	</error-page>
</web-app>
